USE [SCDB_QA]
GO
/****** Object:  StoredProcedure [dbo].[GET_ENCOUNTERS_837_ACO]    Script Date: 1/10/2024 6:31:36 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[GET_ENCOUNTERS_837_ACO]
GO
/****** Object:  StoredProcedure [dbo].[GET_ENCOUNTERS_837_ACO]    Script Date: 1/10/2024 6:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		JORGE GAUTIER
-- Create date: JANUARY 10, 2024
-- Description:	GET TRANSACTIONS TO CONVERT TO 837 FORMAT IN THE WINDOWS SERVICE
-- =============================================
CREATE PROCEDURE [dbo].[GET_ENCOUNTERS_837_ACO] (@ISRESEND INT)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	-- ** CHANGE ENCOUNTERS TO BE SEND TO STATUS 2 **
	UPDATE R SET [STATUS] = 2, AUDIT_DATE = GETDATE(), AUDIT_USER = 'scuser'
	FROM REF_HISTORY_MASTER R
	WHERE IS_ENCOUNTER = 1 
		AND [STATUS] = 1 
		AND FROM_DATE >= DATEADD(DAY, -90, GETDATE())
    
	
	-- ** INSURANCE: NON-FM **
	SELECT TOP 50000 R.*, CASE WHEN S.SPEC_ID=16 THEN 'ACO DEL NORTE PPN' ELSE 'ACO DEL NORTE' END AS IPA_NAME, C.NPI as IPA_NPI, 
			C.PATRONAL_NUM  AS IPA_PTA_NUM, C.ADDRESS_1 IPA_ADDRESS1, C.ADDRESS_2 IPA_ADDRESS2, C.[STATE] IPA_STATE, 
		C.CITY IPA_CITY, C.ZIPCODE IPA_ZIPCODE, C.PHONE IPA_PHONE, 
		--P.LINE1 REF_ADDR1, ISNULL(P.LINE2,'') REF_ADDR2, 
		--P.CITY REF_CITY, P.[STATE] REF_STATE, P.ZIPCODE REF_ZIP, P.PHONE1 REF_PHONE, PM.LINE1 MEM_ADDR1, PM.LINE2 MEM_ADDR2, 
		--PM.CITY MEM_CITY, PM.[STATE] MEM_STATE, PM.ZIPCODE MEM_ZIP, PM.PHONE1 MEM_PHONE, 
		-- * RENDER ADDRESS INFO * --
		CASE WHEN ISNULL(P.LINE1,'') = '' THEN 'ADDRESS1' ELSE P.LINE1 END AS REF_ADDR1, 
		CASE WHEN ISNULL(P.LINE2 ,'') = '' THEN 'ADDRESS2' ELSE P.LINE2  END AS REF_ADDR2, 
		CASE WHEN ISNULL(P.CITY ,'') = '' THEN 'Arecibo' ELSE P.CITY END AS REF_CITY, 
		CASE WHEN ISNULL(P.[STATE] ,'') = '' THEN 'PR' ELSE P.[STATE] END AS REF_STATE,
		CASE WHEN ISNULL(P.ZIPCODE ,'') = '' THEN '006122112' ELSE P.ZIPCODE END AS REF_ZIP, 
		CASE WHEN ISNULL(P.PHONE1 ,'') = '' THEN '7878173144' ELSE P.PHONE1 END AS REF_PHONE,
		-- * MEM ADDRESS INFO * --
		CASE WHEN ISNULL(PM.LINE1,'') = '' THEN 'ADDRESS1' ELSE PM.LINE1 END AS MEM_ADDR1,
		CASE WHEN ISNULL(PM.LINE2 ,'') = '' THEN 'ADDRESS2' ELSE PM.LINE2  END AS MEM_ADDR2, 
		CASE WHEN ISNULL(PM.CITY ,'') = '' THEN 'Arecibo' ELSE PM.CITY END AS MEM_CITY, 
		CASE WHEN ISNULL(PM.[STATE] ,'') = '' THEN 'PR' ELSE PM.[STATE] END AS MEM_STATE, 
		CASE WHEN ISNULL(PM.ZIPCODE ,'') = '' THEN '006122112' ELSE PM.ZIPCODE END AS MEM_ZIP,
		CASE WHEN ISNULL(PM.PHONE1 ,'') = '' THEN '' ELSE PM.PHONE1 END AS MEM_PHONE,
		(SELECT TOP 1 BIRTHDATE FROM NAME_MEM_MASTER WHERE MEM_NUM = R.MEM_NUM AND ISNULL(BIRTHDATE,'') <> '') AS MEM_BIRTHDATE,
		(SELECT TOP 1 GENDER FROM NAME_MEM_MASTER WHERE MEM_NUM = R.MEM_NUM AND ISNULL(GENDER,'') <> '') AS MEM_GENDER,
		UPPER(NPM.PCP_NAME) AS REF_REAL_NAME, UPPER(NPM.PCP_LAST_NAME) AS REF_LAST_NAME, 
		(SELECT TOP 1 MEM_NAME FROM NAME_MEM_MASTER WHERE MEM_NUM=R.MEM_NUM AND ISNULL(MEM_NAME,'') <> '') AS MEM_NAME, 
		(SELECT TOP 1 MEM_LAST_NAME FROM NAME_MEM_MASTER WHERE MEM_NUM=R.MEM_NUM AND ISNULL(MEM_LAST_NAME,'') <> '') AS MEM_LAST_NAME, 
		S.TAXONOMY_CODE REF_TAXONOMY_CODE, S.SPEC_ID, R.PLS
		--,CASE WHEN EPSDT_INDICATOR IN ('AV','S2','S7') THEN 'Y' ELSE 'N' END AS CertificationConditionCodeAppliesIndicator, EPSDT_INDICATOR AS ConditionIndicator
	FROM REF_HISTORY_MASTER R
		LEFT OUTER JOIN COMPANY_MASTER C ON R.IPA_NUM = C.IPA_NUM --AND R.INSURANCE = C.INSURANCE_ID 
		LEFT OUTER JOIN ADDRESSES P ON R.REND_NUM = P.REF_NUM AND P.[TYPE] = 'PCP'
		LEFT OUTER JOIN ADDRESSES PM ON R.MEM_NUM = PM.REF_NUM AND PM.[TYPE] = 'MEM'
		--LEFT OUTER JOIN NAME_MEM_MASTER N ON R.MEM_NUM = N.MEM_NUM AND R.INSURANCE = N.INSURANCE AND R.IPA_NUM = N.IPA_NUM 
		--LEFT OUTER JOIN VNAME_PROV_MASTER M ON R.REND_NUM = M.NPI AND R.IPA_NUM = M.IPA_NUM AND R.INSURANCE = M.INSURANCE
		LEFT OUTER JOIN NAME_PROV_MASTER NPM ON NPM.NPI = R.REND_NUM
		LEFT OUTER JOIN SPEC_MASTER S ON S.SPEC_ID = NPM.SPEC_ID
		--LEFT OUTER JOIN ENCOUNTERS_PATRONAL_NUM PN ON PN.INSURANCE_ID = R.INSURANCE
	WHERE IS_ENCOUNTER = 1
		AND R.INSURANCE NOT IN (3)
		AND [STATUS] IN (1, 2, -2) 
		AND FROM_DATE >= DATEADD(DAY, -90, GETDATE())
	ORDER BY FROM_DATE DESC


		
	-- ** INSURANCE: (3) FM **
	SELECT TOP 50000 R.*, 'ACO DEL NORTE' AS IPA_NAME, C.NPI AS IPA_NPI, C.PATRONAL_NUM AS IPA_PTA_NUM, C.ADDRESS_1 IPA_ADDRESS1, C.ADDRESS_2 IPA_ADDRESS2, C.[STATE] IPA_STATE, 
		C.CITY IPA_CITY, C.ZIPCODE IPA_ZIPCODE, C.PHONE IPA_PHONE, 
		--P.LINE1 REF_ADDR1, ISNULL(P.LINE2,'') REF_ADDR2, 
		--P.CITY REF_CITY, P.[STATE] REF_STATE, P.ZIPCODE REF_ZIP, P.PHONE1 REF_PHONE, PM.LINE1 MEM_ADDR1, PM.LINE2 MEM_ADDR2, 
		--PM.CITY MEM_CITY, PM.[STATE] MEM_STATE, PM.ZIPCODE MEM_ZIP, PM.PHONE1 MEM_PHONE, 
		-- * RENDER ADDRESS INFO * --
		CASE WHEN ISNULL(P.LINE1,'') = '' THEN 'ADDRESS1' ELSE P.LINE1 END AS REF_ADDR1, 
		CASE WHEN ISNULL(P.LINE2 ,'') = '' THEN 'ADDRESS2' ELSE P.LINE2  END AS REF_ADDR2, 
		CASE WHEN ISNULL(P.CITY ,'') = '' THEN 'Arecibo' ELSE P.CITY END AS REF_CITY, 
		CASE WHEN ISNULL(P.[STATE] ,'') = '' THEN 'PR' ELSE P.[STATE] END AS REF_STATE,
		CASE WHEN ISNULL(P.ZIPCODE ,'') = '' THEN '006122112' ELSE P.ZIPCODE END AS REF_ZIP, 
		CASE WHEN ISNULL(P.PHONE1 ,'') = '' THEN '7878173144' ELSE P.PHONE1 END AS REF_PHONE,
		-- * MEM ADDRESS INFO * --
		CASE WHEN ISNULL(PM.LINE1,'') = '' THEN 'ADDRESS1' ELSE PM.LINE1 END AS MEM_ADDR1,
		CASE WHEN ISNULL(PM.LINE2 ,'') = '' THEN 'ADDRESS2' ELSE PM.LINE2  END AS MEM_ADDR2, 
		CASE WHEN ISNULL(PM.CITY ,'') = '' THEN 'Arecibo' ELSE PM.CITY END AS MEM_CITY, 
		CASE WHEN ISNULL(PM.[STATE] ,'') = '' THEN 'PR' ELSE PM.[STATE] END AS MEM_STATE, 
		CASE WHEN ISNULL(PM.ZIPCODE ,'') = '' THEN '006122112' ELSE PM.ZIPCODE END AS MEM_ZIP,
		CASE WHEN ISNULL(PM.PHONE1 ,'') = '' THEN '' ELSE PM.PHONE1 END AS MEM_PHONE,
		--ISNULL((SELECT TOP 1 BIRTHDATE FROM NAME_MEM_MASTER WHERE MEM_NUM = R.MEM_NUM AND ISNULL(BIRTHDATE,'') <> ''),
		--	(SELECT TOP 1 BIRTHDATE 
		--	FROM OPENDATASOURCE('SQLNCLI','Data Source=CUROTA;User ID=scuser;Password=SmartCap_2019;').CDTNet.dbo.tblElegibilidadVital  
		--	WHERE '00' + CONVERT(VARCHAR,CONTRATO) = R.MEM_NUM AND BIRTHDATE <> '01/01/1900' AND BIRTHDATE IS NOT NULL)) AS MEM_BIRTHDATE,
		ISNULL((SELECT TOP 1 BIRTHDATE FROM NAME_MEM_MASTER WHERE MEM_NUM = R.MEM_NUM AND ISNULL(BIRTHDATE,'') <> ''),
		(SELECT TOP 1 DOB FROM BIRTHDATE_FM_CUROTA WHERE MEM_NUM = R.MEM_NUM)) AS MEM_BIRTHDATE,
		(SELECT TOP 1 GENDER FROM NAME_MEM_MASTER WHERE MEM_NUM = R.MEM_NUM AND ISNULL(GENDER,'') <> '') AS MEM_GENDER,
		UPPER(NPM.PCP_NAME) AS REF_REAL_NAME, UPPER(NPM.PCP_LAST_NAME) AS REF_LAST_NAME, 
		(SELECT TOP 1 MEM_NAME FROM NAME_MEM_MASTER WHERE MEM_NUM=R.MEM_NUM AND ISNULL(MEM_NAME,'') <> '') AS MEM_NAME, 
		(SELECT TOP 1 MEM_LAST_NAME FROM NAME_MEM_MASTER WHERE MEM_NUM=R.MEM_NUM AND ISNULL(MEM_LAST_NAME,'') <> '') AS MEM_LAST_NAME, 
		S.TAXONOMY_CODE REF_TAXONOMY_CODE, S.SPEC_ID, R.PLS
		--,CASE WHEN EPSDT_INDICATOR IN ('AV','S2','S7') THEN 'Y' ELSE 'N' END AS CertificationConditionCodeAppliesIndicator, EPSDT_INDICATOR AS ConditionIndicator
	FROM REF_HISTORY_MASTER R
		LEFT OUTER JOIN COMPANY_MASTER C ON R.IPA_NUM = C.IPA_NUM --AND R.INSURANCE = C.INSURANCE_ID 
		LEFT OUTER JOIN ADDRESSES P ON R.REND_NUM = P.REF_NUM AND P.[TYPE] = 'PCP'
		LEFT OUTER JOIN ADDRESSES PM ON R.MEM_NUM = PM.REF_NUM AND PM.[TYPE] = 'MEM'
		--LEFT OUTER JOIN NAME_MEM_MASTER N ON R.MEM_NUM = N.MEM_NUM AND R.INSURANCE = N.INSURANCE AND R.IPA_NUM = N.IPA_NUM 
		--LEFT OUTER JOIN VNAME_PROV_MASTER M ON R.REND_NUM = M.NPI AND R.IPA_NUM = M.IPA_NUM AND R.INSURANCE = M.INSURANCE
		LEFT OUTER JOIN NAME_PROV_MASTER NPM ON NPM.NPI = R.REND_NUM
		LEFT OUTER JOIN SPEC_MASTER S ON S.SPEC_ID = NPM.SPEC_ID
		--LEFT OUTER JOIN ENCOUNTERS_PATRONAL_NUM PN ON PN.INSURANCE_ID = R.INSURANCE
	WHERE IS_ENCOUNTER = 1
		AND R.INSURANCE = 3
		AND [STATUS] IN (1, 2, -2) 
		AND FROM_DATE >= DATEADD(DAY, -90, GETDATE())
	ORDER BY FROM_DATE DESC
		
END



GO
