USE [SCDB]
GO
/****** Object:  StoredProcedure [dbo].[GET_ENCOUNTERS_837]    Script Date: 1/29/2024 6:40:29 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[GET_ENCOUNTERS_837]
GO
/****** Object:  StoredProcedure [dbo].[GET_ENCOUNTERS_837]    Script Date: 1/29/2024 6:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		JORGE GAUTIER
-- Create date: 11/16/2023
-- Description:	GET TRANSACTIONS TO CONVERT TO 837 FORMAT 
-- =============================================
CREATE PROCEDURE [dbo].[GET_ENCOUNTERS_837] (@INSURANCE VARCHAR(1))
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @TODAYS_DATE DATE;
	SET @TODAYS_DATE = CAST(GETDATE() AS DATE) 

	SELECT TOP 50000 R.*, C.IPA_NAME, C.NPI IPA_NPI, C.PATRONAL_NUM AS IPA_PTA_NUM, C.ADDRESS_1 IPA_ADDRESS1, C.ADDRESS_2 IPA_ADDRESS2, C.[STATE] IPA_STATE, 
			C.CITY IPA_CITY, C.ZIPCODE IPA_ZIPCODE, C.PHONE IPA_PHONE, P.LINE1 REF_ADDR1, ISNULL(P.LINE2,'') REF_ADDR2, 
			P.CITY REF_CITY, P.[STATE] REF_STATE, P.ZIPCODE REF_ZIP, P.PHONE1 REF_PHONE, PM.LINE1 MEM_ADDR1, PM.LINE2 MEM_ADDR2, 
			PM.CITY MEM_CITY, PM.[STATE] MEM_STATE, PM.ZIPCODE MEM_ZIP, PM.PHONE1 MEM_PHONE, 
			(SELECT TOP 1 BIRTHDATE FROM NAME_MEM_MASTER WHERE MEM_NUM = R.MEM_NUM AND BIRTHDATE IS NOT NULL) AS MEM_BIRTHDATE, 
			(SELECT TOP 1 GENDER FROM NAME_MEM_MASTER WHERE MEM_NUM = R.MEM_NUM AND GENDER IS NOT NULL) AS MEM_GENDER,
			M.PCP_NAME REF_REAL_NAME, M.PCP_LAST_NAME REF_LAST_NAME, 
			(SELECT TOP 1 MEM_NAME FROM NAME_MEM_MASTER WHERE MEM_NUM = R.MEM_NUM AND MEM_NAME IS NOT NULL) AS MEM_NAME, 
			(SELECT TOP 1 MEM_LAST_NAME FROM NAME_MEM_MASTER WHERE MEM_NUM = R.MEM_NUM AND BIRTHDATE IS NOT NULL) AS MEM_LAST_NAME,
			S.TAXONOMY_CODE REF_TAXONOMY_CODE,
			S.SPEC_ID
	FROM REF_HISTORY_MASTER R WITH(INDEX([IX_REFHISTORYMASTER_INSURANCE_FROMDATE_ISENCOUNTER_STATUS]))
			LEFT OUTER JOIN COMPANY_MASTER C ON R.IPA_NUM = C.IPA_NUM 
			LEFT OUTER JOIN ADDRESSES P ON R.REND_NUM = P.REF_NUM AND P.[TYPE] = 'PCP'
			LEFT OUTER JOIN ADDRESSES PM ON R.MEM_NUM = PM.REF_NUM AND PM.[TYPE] = 'MEM'
			LEFT OUTER JOIN NAME_PROV_MASTER M ON R.REND_NUM = M.NPI 
			LEFT OUTER JOIN SPEC_MASTER S ON M.SPEC_ID = S.SPEC_ID 
	WHERE R.INSURANCE NOT IN (12) 
			AND FROM_DATE BETWEEN DATEADD(DAY,-90, @TODAYS_DATE) AND @TODAYS_DATE
			AND IS_ENCOUNTER = 1 
			AND [STATUS] IN (1,2,-2)  --  <----- VALIDATE
	ORDER BY FROM_DATE DESC

	-- FM
	SELECT TOP 50000 R.*, C.IPA_NAME, C.NPI IPA_NPI, C.PATRONAL_NUM AS IPA_PTA_NUM, C.ADDRESS_1 IPA_ADDRESS1, C.ADDRESS_2 IPA_ADDRESS2, C.[STATE] IPA_STATE, 
			C.CITY IPA_CITY, C.ZIPCODE IPA_ZIPCODE, C.PHONE IPA_PHONE, P.LINE1 REF_ADDR1, ISNULL(P.LINE2,'') REF_ADDR2, 
			P.CITY REF_CITY, P.[STATE] REF_STATE, P.ZIPCODE REF_ZIP, P.PHONE1 REF_PHONE, PM.LINE1 MEM_ADDR1, PM.LINE2 MEM_ADDR2, 
			PM.CITY MEM_CITY, PM.[STATE] MEM_STATE, PM.ZIPCODE MEM_ZIP, PM.PHONE1 MEM_PHONE, 
			(SELECT TOP 1 BIRTHDATE FROM NAME_MEM_MASTER WHERE MEM_NUM = R.MEM_NUM AND BIRTHDATE IS NOT NULL AND BIRTHDATE <> '1900-01-01') AS MEM_BIRTHDATE, 
			(SELECT TOP 1 GENDER FROM NAME_MEM_MASTER WHERE MEM_NUM = R.MEM_NUM AND GENDER IS NOT NULL) AS MEM_GENDER,
			M.PCP_NAME REF_REAL_NAME, M.PCP_LAST_NAME REF_LAST_NAME, 
			(SELECT TOP 1 MEM_NAME FROM NAME_MEM_MASTER WHERE MEM_NUM = R.MEM_NUM AND MEM_NAME IS NOT NULL) AS MEM_NAME, 
			(SELECT TOP 1 MEM_LAST_NAME FROM NAME_MEM_MASTER WHERE MEM_NUM = R.MEM_NUM AND BIRTHDATE IS NOT NULL) AS MEM_LAST_NAME,
			S.TAXONOMY_CODE REF_TAXONOMY_CODE,
			S.SPEC_ID
	FROM REF_HISTORY_MASTER R WITH(INDEX([IX_REFHISTORYMASTER_INSURANCE_FROMDATE_ISENCOUNTER_STATUS]))
			LEFT OUTER JOIN COMPANY_MASTER C ON R.IPA_NUM = C.IPA_NUM 
			LEFT OUTER JOIN ADDRESSES P ON R.REND_NUM = P.REF_NUM AND P.[TYPE] = 'PCP'
			LEFT OUTER JOIN ADDRESSES PM ON R.MEM_NUM = PM.REF_NUM AND PM.[TYPE] = 'MEM'
			LEFT OUTER JOIN NAME_PROV_MASTER M ON R.REND_NUM = M.NPI 
			LEFT OUTER JOIN SPEC_MASTER S ON M.SPEC_ID = S.SPEC_ID 
	WHERE R.INSURANCE = 12 
			AND FROM_DATE BETWEEN DATEADD(DAY,-90, @TODAYS_DATE) AND @TODAYS_DATE
			AND IS_ENCOUNTER = 1
			AND [STATUS] IN (1,2,-2) --  <----- VALIDATE
	ORDER BY FROM_DATE DESC

END



GO
