USE [SCDB]
GO
/****** Object:  Table [dbo].[ENCOUNTERS_BATCH_837]    Script Date: 11/20/2023 7:08:39 PM ******/
DROP TABLE IF EXISTS [dbo].[ENCOUNTERS_BATCH_837]
GO
/****** Object:  Table [dbo].[ENCOUNTERS_BATCH_837]    Script Date: 11/20/2023 7:08:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENCOUNTERS_BATCH_837](
	[ID] [varchar](10) NOT NULL,
	[FILE_NAME] [varchar](250) NULL
) ON [PRIMARY]
GO
