USE [SCDB]
GO
/****** Object:  Table [dbo].[ENCOUNTERS_NOTIFICATIONS_MAIL_LIST]    Script Date: 11/21/2023 3:06:14 PM ******/
DROP TABLE IF EXISTS [dbo].[ENCOUNTERS_NOTIFICATIONS_MAIL_LIST]
GO
/****** Object:  Table [dbo].[ENCOUNTERS_NOTIFICATIONS_MAIL_LIST]    Script Date: 11/21/2023 3:06:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENCOUNTERS_NOTIFICATIONS_MAIL_LIST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL] [varchar](250) NULL,
	[ALERT_TYPE] [varchar](50) NULL,
 CONSTRAINT [PK_ENCOUNTERS_NOTIFICATIONS_MAIL_LIST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ENCOUNTERS_NOTIFICATIONS_MAIL_LIST] ON 

INSERT [dbo].[ENCOUNTERS_NOTIFICATIONS_MAIL_LIST] ([ID], [EMAIL], [ALERT_TYPE]) VALUES (1, N'jorge.gautier@phmss.net', N'ERROR')
INSERT [dbo].[ENCOUNTERS_NOTIFICATIONS_MAIL_LIST] ([ID], [EMAIL], [ALERT_TYPE]) VALUES (2, N'jorge.gautier@phmss.net', N'SUMMARY')
INSERT [dbo].[ENCOUNTERS_NOTIFICATIONS_MAIL_LIST] ([ID], [EMAIL], [ALERT_TYPE]) VALUES (3, N'jorge.gautier@phmss.net', N'WARNING')
SET IDENTITY_INSERT [dbo].[ENCOUNTERS_NOTIFICATIONS_MAIL_LIST] OFF
GO
