USE [SCDB]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_ENCOUNTERS_837_SEND_MANUALLY]    Script Date: 11/21/2023 3:37:09 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[UPDATE_ENCOUNTERS_837_SEND_MANUALLY]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_ENCOUNTERS_837_SEND_MANUALLY]    Script Date: 11/21/2023 3:37:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		JORGE GAUTIER
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UPDATE_ENCOUNTERS_837_SEND_MANUALLY] (@STATUS VARCHAR(1))
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	/* VAR @STATUS IS NOT BEING USED */

	--IF @STATUS = 2
	--BEGIN
		/* UPDATE ENCOUNTERS STATUS IN REF_HISTORY_MASTER */
		UPDATE R SET [STATUS] = 3 
		FROM REF_HISTORY_MASTER R INNER JOIN ENCOUNTERS_BATCH_837 E ON R.ID = E.ID
		WHERE [STATUS] <> 6

		/* INSERT PROCESSED ENCOUNTERS IN TBL ENCOUNTERS_LOG */
		INSERT INTO ENCOUNTERS_LOG --VALUES ('',GETDATE(),'SENT','ENCOUNTER SENT TO THE INSURANCE COMPANY.','" + fileName + "')
		SELECT ID, GETDATE(), 'SENT', 'ENCOUNTER BATCH MANUALLY SENT TO THE INSURANCE COMPANY.', [FILE_NAME]
		FROM ENCOUNTERS_BATCH_837
		
	--END
	--ELSE IF @STATUS = -2
	--BEGIN
	--	UPDATE REF_HISTORY_MASTER SET [STATUS] = -3 WHERE ID IN ('')
	--	INSERT INTO ENCOUNTERS_LOG VALUES ('',GETDATE(),'RESENT','ENCOUNTER SENT TO THE INSURANCE COMPANY.','" + fileName + "')
	--END

END
GO
